.home {
  height: 100vh;
  overflow: hidden;
}

.header {
  width: 100%;
  left: 0;
  top: 0;
  z-index: 100;
  background: #8b3a87;
  height: 50px;
}

.logo {
  width: 35px;
  height: 35px;
  margin: 5px 0 0 1rem;
  overflow-y: auto;
}

.main {
  flex-grow: 1;
  position: absolute;
  top: 50px;
  bottom: 56px;
  left: 0px;
  right: 0px;
  overflow: hidden;
}

.main-header {
  text-align: center;
  box-shadow: 0 2px 15px 0 rgba(0, 0, 0, 0.2);
  height: 86px;
  position: absolute;
  top: 1px;
  left: 0px;
  right: 0px;
  padding-bottom: 5px;
}

.main-header span {
  text-align: center;
}

.main-header h1 {
  font-size: 2em;
  margin: 0.2em 0;
}

.main-container {
  height: calc(100% - 100px);
  overflow: scroll;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin: 0 -5px;
  position: absolute;
  left: 0px;
  right: 0px;
  bottom: 4px;
}

.footer {
  position: absolute;
  width: 100%;
  left: 0;
  bottom: 0;
  z-index: 100;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  background: #67c1ee;
  height: 56px;
}

.footer-item {
  text-align: center;
}

.footer-item p {
  margin: 1px;
  font-size: small;
  text-align: center;
}

@media screen and (min-width: 1280px) { 

  .main-container {
    gap: 1vh 6vw;
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    margin: 0 0px;
    overflow: unset;
    padding-left: 200px;
    padding-right: 100px;
    height: calc(100% - 100px);
    margin: 0 -5px;
    position: absolute;
    left: 0px;
    right: 0px;
    bottom: 4px;
  }

}

